body{
}
.cardBox{
}
.cardBox:hover{
    background-color: lightskyblue;
    transition: 0.75s;
    cursor: pointer;
}
.chatContainer{
    
}
.chatBox{
    height:90%;
}
.imgSVG{
    width: 80%;
}
.imgSVGs{
    
}
.cardBox{
    width: 20%;
}

.results2{
    height: 200px;
}
.progress2{
    float: left;
    transform: rotate(-90deg);
    height: 25px;
    width: 100px;
  } 
  .score2{
      transform: rotate(90deg);
  }
  .dispNone{
      display: none;
  }
  #spade{
      width: 40px;
  }